* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* p{
  margin: 0 !important;
} */
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}
.card p{
  margin: 0;
}